.dashboard {
  height: 100%; /* 100% of DashboardLayout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard .texts {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.dashboard .texts::-webkit-scrollbar {
  width: 10px;
}

.dashboard .texts::-webkit-scrollbar-thumb {
  background-color: #0e0c16;
  border-radius: 10px;
}

.dashboard .texts::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: transparent;
  background: linear-gradient(to right, #217bfe, #e55571);
  background-clip: text;
  -webkit-background-clip: text;
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  color: #ececec;
}
