.terms-of-service {
  height: 100vh;
}

.terms-content {
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 100px;
}

.terms-of-service h1 {
  color: #ececec;
  text-align: center;
  margin-bottom: 30px;
}

.terms-of-service h2 {
  margin-top: 20px;
}

.terms-of-service ol li {
  margin: 10px 0;
}

.terms-of-service ol li::marker {
  font-size: 24px;
  font-weight: bold;
}

.terms-of-service ul {
  list-style-type: disc;
}

.terms-of-service a {
  color: #a8c7fa;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .terms-content {
    padding: 50px;
  }
}

@media screen and (max-width: 500px) {
  .terms-content {
    padding: 30px 50px;
  }
}
