.menu {
  width: 20%;
  height: calc(100vh - 70px); /* 70px = RootLayout padding-top + header */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  .menu {
    border-right: 0.08rem dashed #888;
  }
}

.menu a {
  display: block;
  width: 95%; /* Mild space between chat title on hover and scrollbar */
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}

.menu a:hover {
  background-color: #2c2937;
}

hr {
  height: 2px;
  background-color: #888;
  opacity: 0.2;
  border: none;
  border-radius: 5px;
  margin: 20px 0px;
}

.menu .title {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #2c2937 transparent; /* Thumb and track colors */
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #2c2937;
  border-radius: 10px;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.list p {
  font-size: 15px;
}

.chat-title {
  width: 100%;
  overflow: hidden;
}

.list a {
  position: relative;
}

.delete {
  position: absolute;
  opacity: 0;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

.list a:hover .delete {
  opacity: 1;
}

.upgrade .text {
  font-size: 14px;
  font-weight: 600;
  padding-right: 10px;
  margin-bottom: 5px;
}

.upgrade span {
  margin-left: 5px;
}

.upgrade img {
  width: 16px;
  height: 16px;
}

.upgrade a {
  display: block;
  font-size: 13px;
  color: #888;
  border-radius: 0;
  padding: 0;
}

.upgrade a:hover {
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    width: 33%;
    position: absolute;
    top: 70px; /* RootLayout padding-top + header height +  */
    left: 20px; /* RootLayout padding-left */
    background-color: #0e0c16;
    z-index: 10;
  }

  .delete {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    height: calc(100vh - 60px);
    top: 60px;
    left: 10px;
  }
}
