.loadingPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardLayout {
  height: 100%;
  display: flex;
  gap: 50px;
  padding-top: 20px;
}
.menu {
  flex: 1;
}

.content {
  flex: 4;
  background-color: #2c2937;
  border-radius: 10px;
  padding: 20px;
}
