.loadingPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardLayout {
  height: 100%;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.content {
  width: 80%;
  background-color: #2c2937;
  border-radius: 10px;
  padding: 20px;
}
