.rootLayout {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 20px 20px 0;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

/* Clerk UserButton box image */
.cl-avatarBox {
  width: 40px;
  height: 40px;
}

/* Main contains every page of the app */
main {
  height: calc(
    100vh - 70px
  ); /* 70px = RootLayout padding-top (pt) + header height */
}

@media screen and (max-width: 500px) {
  .rootLayout {
    padding: 10px 10px 0;
  }
  main {
    height: calc(100vh - 60px);
  }
}
