.rootLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;

  @media screen and (max-width: 1024px) {
    padding: 2rem;
  }

  header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 32px;
        height: 32px;
      }

      span {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
