.rootLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
  }

  header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 32px;
        height: 32px;
      }

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .user {
      display: flex;
      align-items: center;

      /* UserButton box image */
      .cl-avatarBox {
        width: 40px;
        height: 40px;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
