.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat {
  flex: 1;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #0e0c16 transparent; /* Thumb and track colors */
  gap: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #0e0c16;
  border-radius: 10px;
}

.chat::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.img-loader {
  margin: 20px 0;
}

.message {
  max-width: 85%;
  font-size: 16px;
  align-self: flex-start; /* AI message */
  background-color: #0e0c16;
  line-height: 1.8;
  border-radius: 10px;
  padding: 15px 25px;
}

.user {
  align-self: flex-end; /* User message*/
}

.markdown {
  width: 100%;
}

pre {
  width: 100%;
  word-break: break-word;
  overflow-x: auto;
}

code {
  max-width: 100%;
}

.message a {
  text-decoration: underline;
}

/* Images displayed on chat */
.chat img {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .message {
    font-size: 15px;
    padding: 10px 20px;
  }

  .chat img {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .chat img {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .message {
    max-width: 90%;
  }
  .chat img {
    width: 90%;
  }
}
